.container {
    width: 100vw;
    height: 100vw;
}
.container ::-webkit-scrollbar {
    display: none;
  }

.body {
    /* overflow: hidden; */
}
.body ::-webkit-scrollbar {
    display: none;
  }

.pgwr-1 {
    width: 100vw;
    height: 100vw;
    background-color: #E55C21;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
.pgwr-1 ::-webkit-scrollbar {
    display: none;
  }

.pgwr-2 {
    width: 100vw;
    height: 100vh;
    display: block;
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #4600FB;
    /* overflow: hidden; */
    padding-top: 5vh;
}
.pgwr-2  ::-webkit-scrollbar {
    display: none;
  }

.pgwr-3 {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #229432;
    /* overflow: hidden; */
}

.spacer {
    height: 100vw;
    width: 100vw;
    position: relative;
    z-index: 2;
    background-color: transparent;
}

.header {
    position: fixed;
    display: flex;
    width: 95vw;
    align-content: center;
    z-index: 999;
    padding-top: 0.5vw;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 2vw;
    z-index: 99;
}

.buttons-script {
    display: inline-block; 
    align-content: stretch;
    margin-top: 1vw;
}
      
.buttons {
    display: flex; 
    justify-content: flex-end;
    gap: 0.5vw;
}

.button-r:hover {
    background: #FFB432;
}
.button-l:hover {
    background: #FFB432;
}

.button-r,
.button-l {
    z-index: 99;
    position: absolute;
  width: 3vw;
  height: 3vw;
  border-radius: 100%;
  background: #FFF;
  position: relative;
}

.ar1,
.ar2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  width: 60%; 
  height: 60%;
}

.dec-c {
    position: absolute;
    padding-left: 29vw;
    padding-top: 4vw;
    z-index: 3;
    width: 45vw;
    height:45vw;
}

h1 {
    position: absolute;
    font-family: "Bowlby One SC", sans-serif;
    color: #FFF;
    text-align: center;
    font-size: 8vw;
    font-style: normal;
    font-weight: 400;
    line-height: 80%;
    z-index: -1; 
    padding-top: 10vw;
    padding-left: 20vw;
  }

  #canvas-target {
    z-index: 4;
    position: fixed;
  }

  .heading-2 {
    width: 30vw;
    display: flex;
    justify-content: center;
  }

  h2 {
    position: absolute;
    font-family: "Bowlby One SC", sans-serif;
    color: #FFF;
    text-align: center;
    font-size: 7vw;
    font-style: normal;
    font-weight: 400;
    line-height: 80%;
    z-index: -1; 
  }

  .y-rect {
    position: absolute;
    width: 30vw ;
    height: 20vw;
    background-color: #FFB432;
  }

  .eye-bg {
   position: absolute;
   padding-left: 16vw;
   padding-top: 0vh;
   width: 70vw;
  }

  .eye {
    position: relative;
    display: inline-block;
    border-radius: 100%;
    height: 25vw;
    width: 25vw;
    background: #8223A9;
    margin-top: 1vw;
    margin-left: 40vw;
  }

  .eye:after { /*pupil*/
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 12vw;
    height: 12vw;
    background: #000;
    border-radius: 50%;
    content: " ";
  }

  .sm-par1, .sm-par2 {
    position: absolute;

  }
  .h2-w {
    width: 50vw;
    position: absolute;
    padding-top: 46vh;
    padding-left: 27vw;
  }

  .par {
    width: 30vw;
    color: #FFF;
    font-family: Inter;
    font-size: 2.5vh;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 25px */
    position: absolute;
    padding-left: 60vw;
    padding-top: 62vh;
  }

  .stars {
    width: 80vw;
    height: fit-content;
    padding-top: 44vh;
    padding-left: 10vw;
    position: absolute;
  }

  .h2-w2 {
    width: 60vw;
    padding-top: 60vh;
    padding-left: 18vw;
  }

  .a-1, .a-2,.a-3, .a-4, .a-5, .a-6, .a-7, .a-8,.a-9, .a-2, .a-6-1 {
    position: absolute;
    z-index: 999;
  }

  .a-1 {
    margin-top: 20vh;
    margin-left: 25vw;
    cursor: grab;

  }
  .a-2 {
    margin-top: 20vh;
    margin-left: 5vw;
    cursor: grab;

  }

  .a-3 {
    margin-top: 54vh;
    margin-left: 2vw;
    cursor: grab;

  }

  .a-4 {
    margin-top: 5vh;
    margin-left: 50vw;
    cursor: grab;

  }
  .a-5 {
    margin-top: 70vh;
    margin-left: 60vw;
    cursor: grab;

  }
  .a-6 {
    margin-top: 75vh;
    margin-left: 85vw;
    cursor: grab;

  }
  .a-6-1 {
    margin-top: 60vh;
    margin-left: 20vw;
    cursor: grab;

  }
  .a-7 {
    margin-top: 2vh;
    margin-left: 24vw;
    cursor: grab;

  }
  .a-8 {
    margin-top: 40vh;
    margin-left: 70vw;
    cursor: grab;

  }
  .a-9 {
    margin-top: 20vh;
    margin-left: 80vw;
    cursor: grab;

  }


  .drbr-h {
    width: 40vw;
    z-index: 4;
    padding-top: 55vh;
    padding-left: 30vw;
  }

  .dr1, .dr2 {
    width: 20vw;
    height: 20vh;
    position: absolute;
  }

  .dr1 {
    padding-top: 67vh;
    padding-left: 5vw;
  }

  .dr2 {
    padding-top: 67vh;
    padding-left: 72vw;
  }

  #positioning {
    position: absolute;
    background-color: transparent;
    z-index: 999;
    width: 100vw;
    height: 100vh;
  }

  .element {
    position: absolute;

  }

  #canvas-terget-block {
    z-index: 4;
    background-color: beige;
  }
  
  .logo-c {
    width: 14vw;
    margin-left: 2vw;
    margin-top: 1vw;
  }

  .cover {
    display: none;
    background-color: #E55C21;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }
  
  .cover-img {
    width: 50vw;
    height: fit-content;
    padding-top: 25vh;
  }